<div class="payment_type">
  <p><%= t('cash_on_delivery.views.payment.description').html_safe %></p>
  <blockquote>
    <p><strong><%= t('cash_on_delivery.views.payment.concept') %></strong>: <%= @order.number %></p>
    <p><strong><%= t('cash_on_delivery.views.payment.amount') %></strong>: <%= @order.display_total %></p>
    <% if payment_method.preferred_fee.present? %>
        <p><strong><%= t('cash_on_delivery.views.payment.extra', :extra => "#{payment_method.preferred_fee}") %></strong>
    <% end %>
  </blockquote>
</div>